In [15]:
import pandas as pd
import os

In [16]:
Sum_APs = 0
name_query = []
APs = []
true_label = []
truth_label = []
for file in os.listdir('retrieval_query_results_paris'):
    df = pd.read_csv('retrieval_query_results_paris/' + file)
    name_query.append(file[12:-11])
    label_lst = list(df['label'])
    index_lst = list(df['index'])
    
    true = 0
    AP = 0
    for i in range(len(label_lst[:sum(label_lst)])):
        if (label_lst[i] == 1):
            true = true + 1
            AP = AP + true/index_lst[i]
            
    APs.append(AP/true) if true > 0 else APs.append(0)
    true_label.append(true)
    truth_label.append(sum(label_lst))

In [17]:
df0 = pd.DataFrame(data={"name_query": name_query, "true_label": true_label, "truth_label": truth_label, "AP": APs})

In [18]:
types = list(set(df0['name_query']))
types
APs = []
for i in types:
    APs.append(sum(df0['AP'][df0['name_query']==i])/len(df0['AP'][df0['name_query']==i]))
    
df = pd.DataFrame(data={"types": types, "AP": APs})
df

          types        AP
0   museedorsay  0.819833
1        louvre  0.437546
2       defense  0.900761
3      pompidou  0.790282
4      triomphe  0.825419
5    sacrecoeur  0.569637
6     notredame  0.786076
7      pantheon  0.678950
8       general  0.751777
9        eiffel  0.523538
10    invalides  0.657612
11  moulinrouge  0.807449

In [19]:
mAP = sum(df['AP'])/len(df)
mAP

0.7124066114891244